body{
	background-color:#fff;
	color: #62626B;
	font-size: 14px;
	margin: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lantinghei SC', 'Heiti SC', 'Heiti SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin: 0px;
}
a{
	margin: 0px;
	text-decoration: none;
	color:#62626B;
	transition: all 0.3s;

};
p{
	margin: 0px;
}
.main{
	width: 100%;
	background-color:#F9FAFB;
}
.group_one{
	height: 800px;
	width: 1200px;
	margin: 0 auto;
}
.header{
	padding-top: 100px;
}
.nav {
	float: left;
	width: 320px;
	padding: 2px
}
.nav a{
	margin: 0px 35px 0px 0px;
}
.nav a:hover{
	color: #4DE288;
	cursor:pointer;

}
.group_one_left{
	float: left;
	padding-top: 200px;
}
.logo{
}
.description{
	padding-top: 20px;
	width: 300px;
	line-height: 20px;
	letter-spacing: 0.5px;
}
.description p{
	color: #5B5B5B;
}

.btn{
	background: #4DE288;
	box-shadow: 0px 5px 7px 0px rgba(193,204,215,0.61);
	border-radius: 3px;
	transition: all 0.3s;
	width: 138px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin-top: 20px;
	float: left;
}
.btn2{
	background: #fff;
	box-shadow: 0px 5px 7px 0px rgba(193,204,215,0.61);
	border-radius: 3px;
	transition: all 0.3s;
	width: 138px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin-top: 20px;
	float: left;
	margin-left: 10px;
}
.btn:hover{
	box-shadow: 0px 7px 9px 0px rgba(193,204,215,0.80);
	border-radius: 3px;
	cursor:pointer;
	color: #5E5E62;
}
.btn2:hover{
	box-shadow: 0px 7px 9px 0px rgba(193,204,215,0.80);
	border-radius: 3px;
	cursor:pointer;
	color: #5E5E62;
}

.group_right img{
	padding-left: 100px;
}

.group_two{
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}
.cando{
	width: 1200px;
	margin: 0 auto;
	height: 600px;
	border-bottom: 1px solid #F5F5F5;
}
.cando_2{
	width: 1200px;
	margin: 0 auto;
	height: 1000px;
	border-bottom: 1px solid #F5F5F5;
}
.cando_3{
	width: 1200px;
	margin: 0 auto;
	height: 340px;
}
.title{
	text-align: center;
}
.title h2{
	padding-top: 100px;
	font-size: 24px;

}
.title p{
	color: #889099;
}
.module{
	text-align: center;
	margin: 0 auto;
	width: 1200px;
	padding-top: 40px;
}

.user_module{
	margin: 100px 142px 0px 142px;
	float: left;
}
.user_module_2{
	margin: 100px 10px 0px 143px;
	float: left;
}
.user_module_2 a:hover{
	color: #4DE288;
}
.window{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top:100px;
	width: 960px;
}
.feed{
	width: 138px;
	margin: 0 auto;
	padding-top: 20px;
}

.footer{
	text-align:  center;
	padding-bottom: 50px;
	background-color: #fff;
}
.footer_nav a{
	padding: 10px;
	color: #889099;
}
.footer_nav a:hover{
	color: #4DE288;
}
