doctype html
html
  meta(charset="utf-8")
  head
    title Ant UX | The Sitemap Template
    meta(name="description", content="A Sitemap Template")
    meta(name="keywords", content="CaiCai,UI,UX,Dribbble,Ant Design,User flow,Sitemap,Design")
    meta(name="author", content="CaiCai,hi@cai-cai.me")
    link(rel="stylesheet", type="text/css", href="public/css/style.css")
    link(rel="icon", href="public/img//favicon.png")
  body
    .main
      .group_one
        .header
          .nav
            a(href="https://github.com/ant-design/ant-ux") Github
            a(href="https://github.com/ant-design/ant-ux/releases") Release
            a(href="https://github.com/ant-design/ant-ux/issues") Feedback 
            a(href="https://github.com/ant-design/ant-ux/wiki/Ant-UX") Wiki 
          .twitter
            a.twitter-share-button(href='https://twitter.com/share', data-related='hi_caicai', data-hashtags='AntUX') Tweet
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          .github
            iframe(src='https://ghbtns.com/github-btn.html?user=ant-design&repo=ant-ux&type=star&count=true', frameborder='0', scrolling='0', width='170px', height='20px')  
        .group_one_left
          .logo
            img(src="https://os.alipayobjects.com/rmsportal/mMkrSOGsJezFCdg.svg")
          .description
            p We make a sitemap template for ux design. It will be used in 
              a(href="https://www.omnigroup.com/omnigraffle") Omnigraffle,
              a(href="http://www.sketchapp.com")  Sketch,
              a(href="http://www.axure.com")  Axure,
              a(href="https://affinity.serif.com/en-gb/")  Affinity.
          .btn
            a(href="/download/Ant_UX_OG.zip")  Omnigraffle
          .dropdown
            span Other versions
            .dropdown-content
              li
                a(href="/download/Ant_UX_Sketch.zip") Sketch
              li
                a(href="/download/Ant_UX_Axure.zip")  Axure
              li
                a(href="/download/Ant_UX_Affinity.zip")  Affinity
        .group_right
          img(src="https://os.alipayobjects.com/rmsportal/NlpPBNdvzYdFGMF.svg")
      .group_two
        .cando
          .title
            h2 What you can do with Ant UX?    
            p It can improve the efficiency of your work.
          .module
            .user_module
              img(src="https://os.alipayobjects.com/rmsportal/kiOTnzaQzUTwNbJ.svg")
              p User Flow
            .user_module
              img(src="https://os.alipayobjects.com/rmsportal/RKbkoWGTkPPjXFS.svg")
              p Product architecture
            .user_module
              img(src="https://os.alipayobjects.com/rmsportal/XmYjEBwcNnDCxjq.svg")
              p Logic diagram
      .group_two
        .cando_2
          .title
            h2 How to use it?    
            p Use the Ant UX, you must have OmniGraffle or Sketch.
          .window
              video#example_video.video-js.vjs-default-skin(controls="", preload="auto", width="960", height="540", poster="https://os.alipayobjects.com/rmsportal/rsMrkeBBgzXEeYg.svg", data-setup="{'example_option':true}")
                source(src="https://os.alipayobjects.com/rmsportal/WNzOmBEAtyRXbjV.mov")
      .group_two
        .cando
          .title
            h2 Available platforms  
            p OmniGraffle, Sketch, Affinity, Axure
          .module
            .user_module_2
              a(href="/download/Ant_UX_Axure.zip") 
                img(src="https://os.alipayobjects.com/rmsportal/dgGBUfhujAolbYw.svg")
              p Axure
            .user_module_2
              a(href='/download/Ant_UX_Sketch.zip')
                img(src="https://os.alipayobjects.com/rmsportal/shVnmjkaLUMbtMY.svg")
              p Sketch
            .user_module_2
              a(href="/download/Ant_UX_OG.zip")
                img(src="https://os.alipayobjects.com/rmsportal/BbsbhocYmJrPkfK.svg")
              p OmniGraffle
            .user_module_2
              a(href="/download/Ant_UX_Affinity.zip")
                img(src="https://gw.alipayobjects.com/zos/rmsportal/ejwxICUNmAZLVLOSjFiv.svg")
              p Affinity

      .group_two
        .cando_3
          .title
            h2 If you have any question
          .feed   
            .btn3 
              a(href="https://github.com/ant-design/ant-ux/issues") Send Feedback
      .footer
        .footer_nav
          a(href="https://www.caicai.me") CaiCai@2017
          a(href="http://ant.design") Ant Design
          a(href="http://antv.alipay.com/zh-cn/index.html") AntV
          a(href="https://github.com/ant-design/ant-ux") Github
          a(href="https://github.com/ant-design/ant-ux/releases") Release
          a(href="https://github.com/ant-design/ant-ux/issues") Feedback 
          a(href="https://github.com/ant-design/ant-ux/wiki/Ant-UX") Wiki 
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-77430395-1', 'auto');
          ga('send', 'pageview');
