doctype html
html
  meta(charset="utf-8")
  head
    title Ant-UX
    link(rel="stylesheet", type="text/css", href="public/css/style.css")
  body
    .main
      .part_1
        .ux
          .logo
            img(src="https://t.alipayobjects.com/images/rmsweb/T1MXJiXaNlXXXXXXXX.svg", alt="")
          .pic
            img(src="https://t.alipayobjects.com/images/rmsweb/T1xFtiXm8mXXXXXXXX.svg", alt="")
      .part_2
        .download
          .version
            h2 Ant-UX Beta
            p
              | 配合工具:
              a(href="http://downloads2.omnigroup.com/software/MacOSX/10.10/OmniGraffle-6.4.1.dmg") OmniGraffle
          .update
            a.btn.btn-1.btn-a.remove(href="https://github.com/ant-design/ant-ux/releases")
              span 下载最新版本
      .part_3
        .instructions
          .title
            h1 如何使用
            p
              | 下载最新组件后, 导入 OmniGraffle, 通过简单的拖拽, 即可连接页面与页面, 帮你梳理 页面逻辑 
              a(href="https://github.com/ant-design/ant-ux/wiki/Ant-UX") 了解更多
            .video
              video#example_video.video-js.vjs-default-skin(controls="", preload="auto", width="960", height="540", poster="https://t.alipayobjects.com/images/rmsweb/T13aViXjxaXXXXXXXX.svg", data-setup="{'example_option':true}")
                source(src="https://t.alipayobjects.com/images/rmsweb/L1JFJiXbXlXXXXXXXX.mov")
          .title
            h1 教程
            p
              | OmniGraffle 是一款很棒的线框图工具, 虽然它不是很完美的做到对交互原型设计的支持, 但是在做页面逻辑这块, 它可算得上是一把手, 如果对 OmniGraffle 不了解, 可以看这里这篇 
              a(href="http://beforweb.com/node/202") 教程
              | , 很容易上手.
          .title
            h1 反馈和吐槽
            p
              | 如果遇到问题, 欢迎 
              a(href="https://github.com/hi-caicai") @CaiCai
              | , 或者到我们的 
              a(href="https://github.com/ant-design/ant-ux/issues") 仓库 
              | 提需求
