doctype html
html
  meta(charset="utf-8")
  head
    title Ant-UX 
    meta(name="description", content="A Sitemap Template")
    meta(name="keywords", content="CaiCai,UI,UX,Dribbble,Ant Design,User flow,Sitemap,Design")
    meta(name="author", content="CaiCai,hi@cai-cai.me")
    link(rel="stylesheet", type="text/css", href="public/css/style.css")
  body
    .main
      .group_one
        .header
          .nav
            a(href="https://github.com/ant-design/ant-ux") Github
            a(href="https://github.com/ant-design/ant-ux/releases") Release
            a(href="https://github.com/ant-design/ant-ux/issues") Feedback 
            a(href="https://github.com/ant-design/ant-ux/wiki/Ant-UX") Wiki 
          .github
            iframe(src='https://ghbtns.com/github-btn.html?user=ant-design&repo=ant-ux&type=star&count=true', frameborder='0', scrolling='0', width='170px', height='20px')      
        .group_one_left
          .logo
            img(src="https://os.alipayobjects.com/rmsportal/mMkrSOGsJezFCdg.svg")
          .description
            p We make a sitemap template for ux design. It will be used in OmniGrafffle or Sketch.
          .btn
            a(href="https://github.com/ant-design/ant-ux/releases/download/1.0/Ant_UX_OG.zip") OmniGraffle
          .btn2
            a(href="https://github.com/ant-design/ant-ux/releases/download/1.0/Ant_UX_Sketch.zip") Sketch Version
        .group_right
          img(src="https://os.alipayobjects.com/rmsportal/NlpPBNdvzYdFGMF.svg")
      .group_two
        .cando
          .title
            h2 What you can do with Ant UX?    
            p It can improve the efficiency of your work.
          .module
            .user_module
              img(src="https://os.alipayobjects.com/rmsportal/kiOTnzaQzUTwNbJ.svg")
              p User Flow
            .user_module
              img(src="https://os.alipayobjects.com/rmsportal/RKbkoWGTkPPjXFS.svg")
              p Product architecture
            .user_module
              img(src="https://os.alipayobjects.com/rmsportal/XmYjEBwcNnDCxjq.svg")
              p Logic diagram
      .group_two
        .cando_2
          .title
            h2 How to use it?    
            p Use the Ant UX, you must have OmniGraffle or Sketch.
          .window
              video#example_video.video-js.vjs-default-skin(controls="", preload="auto", width="960", height="540", poster="https://os.alipayobjects.com/rmsportal/rsMrkeBBgzXEeYg.svg", data-setup="{'example_option':true}")
                source(src="https://os.alipayobjects.com/rmsportal/WNzOmBEAtyRXbjV.mov")
      .group_two
        .cando
          .title
            h2 Available platforms  
            p OmniGraffle, Sketch, Illustrator, Axure
          .module
            .user_module_2
              img(src="https://os.alipayobjects.com/rmsportal/qpGiiNTTLTsEQIu.svg")
              p(style="color:#D9D9D9;padding-top:15px;") Axure
            .user_module_2
              img(src="https://os.alipayobjects.com/rmsportal/shVnmjkaLUMbtMY.svg")
              p 
                a(href="https://github.com/ant-design/ant-ux/releases/download/1.0/Ant_UX_Sketch.zip") Sketch
            .user_module_2
              img(src="https://os.alipayobjects.com/rmsportal/BbsbhocYmJrPkfK.svg")
              p 
                a(href="https://github.com/ant-design/ant-ux/releases/download/1.0/Ant_UX_OG.zip") OmniGraffle
            .user_module_2
              img(src="https://os.alipayobjects.com/rmsportal/QKInwlVfFmavoTn.svg")
              p(style="color:#D9D9D9;padding-top:15px;") Illustrator
      .group_two
        .cando_3
          .title
            h2 If you have any questions
          .feed   
            .btn 
              a(href="https://github.com/ant-design/ant-ux/issues") Send Feedback
      .footer
        .footer_nav
          a(href="https://www.caicai.me") CaiCai@2016 
          a(href="http://ant.design") Ant Design
          a(href="https://github.com/ant-design/ant-ux") Github
          a(href="https://github.com/ant-design/ant-ux/releases") Release
          a(href="https://github.com/ant-design/ant-ux/issues") Feedback 
          a(href="https://github.com/ant-design/ant-ux/wiki/Ant-UX") Wiki 